<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0932b7d8ec.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="name" class="navigation">
      <nav
        class="mx-4 my-4 mb-8 shadow-lg navbar navbar-expand-lg navbar-dark bg-dark rounded-pill"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <span class="h1"> RTO </span></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="pt-4 nav-link h4" href="/">Home</a>
              </li>
              <li class="nav-item"><a class="pt-4 nav-link h4">About us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div
      class="container"
      style="
        display: grid;
        grid-template-rows: 50% 50%;
        margin-top: 70px;
        margin-bottom: 200px;
      "
    >
      <img
        src="https://icon-library.com/images/6ebb56569c.png"
        alt="logo"
        style="
          max-width: 30%;
          justify-self: center;
          align-self: center;
          border-radius: 100%;

          border: 5px white solid;
          box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.5);
        "
      />
      <form
        action="/user"
        method="POST"
        class="shadow-lg jumbotron my-login-validation"
        style="
          padding-top: 32px;
          padding-bottom: 192px;
          padding-right: 16px;
          padding-left: 16px;
          border-radius: 10%;
        "
        novalidate=""
      >
        <div class="form-group lead">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            class="form-control"
            name="Login[name]"
            required
            autofocus
          />
          <div class="invalid-feedback">What's your name?</div>
        </div>

        <div class="form-group lead">
          <label for="email">E-Mail Address</label>
          <input
            id="email"
            type="email"
            class="form-control"
            name="Login[email]"
            required
          />
          <div class="invalid-feedback">Your email is invalid</div>
        </div>

        <div class="form-group lead">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            name="Login[password]"
            required
            data-eye
          />
          <div class="invalid-feedback">Password is required</div>
        </div>

        <div class="form-group">
          <div class="custom-checkbox custom-control">
            <input
              type="checkbox"
              name="agree"
              id="agree"
              class="custom-control-input"
              required=""
            />
            <label for="agree" class="custom-control-label lead"
              >I agree to the <a href="/terms">Terms and Conditions</a></label
            >
            <div class="invalid-feedback">
              You must agree with our Terms and Conditions
            </div>
          </div>
        </div>

        <button type="submit" class="rounded-pill btn btn-primary btn-block">
          <span class="lead">Register</span>
        </button>
        <div class="mt-4 text-center lead">
          Already have an account?
          <a href="/user/Login_Register/login">Login</a>
        </div>
      </form>
    </div>
  </body>
  <%- include('../../../partials/footer') %>
</html>
