<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted" id="left">&copy; RTO 2021 &copy;</span></li>

  <span class="text-muted text-sm-end" id="right"><a href="/policy" class="text-reset text-sm-end fs-6">@Privacy Policy</a></span>
  <span class="text-white fs-5" id="right">
    <a href="/Terms" class="text-white fs-5"> Terms and Conditions</a>
  </span>
  </div>
</footer>

<style>
</style>
