<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
  rel="stylesheet"
/>

<div id="" class="foot">
  <footer class="py-5 footer bg-dark mx-4 rounded-3 my-4">
    <!-- <span class="text-muted" id="left">&copy; RTO 2021 &copy;</span></li> -->

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!-- <footer class="py-5 container-fluid bg-grey"> -->
    <div class="mx-2 container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="logo-part">
                <img
                  src="https://pbs.twimg.com/profile_images/1137634760879034369/BAJJJ13E_400x400.jpg"
                  class="w-50 logo-footer"
                />
                <p>
                  Public Relations Officer, <br />
                  Transport Department, <br />
                  5/9 Under Hill Road, <br />
                  Delhi 110054.
                </p>
              </div>
            </div>
            <div class="px-4 col-md-6">
              <h6>About Company</h6>
              <p>Providing drving licence and vehicle registration services.</p>
              <a href="/Terms" class="btn-footer"> Terms and Conditions </a
              ><br />
              <a href="/policy" class="btn-footer"> Privacy Policy</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="px-4 col-md-6">
              <h6>Help us</h6>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="#"> About</a></li>
                    <li><a href="#"> Service</a></li>
                    <li><a href="#"> Team</a></li>
                    <li><a href="#"> Help</a></li>
                    <li><a href="#"> Contact</a></li>
                  </ul>
                </div>
                <div class="px-4 col-md-6">
                  <ul>
                    <!-- <li><a href="#"> Cab Faciliy</a></li>
                    <!-- <li><a href="#"> Fax</a></li>
                    <!-- <li><a href="/terms"> Terms&Conditions</a></li> -->
                    <!-- <li><a href="/policy"> Policy</a></li> -->
                    <!-- <li><a href="#"> Refunds</a></li> -->
                    <!-- <li><a href="#"> Paypal</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h6>Connect</h6>
              <div class="social">
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
              </div>
              <form class="my-3 form-footer">
                <input
                  type="text"
                  placeholder="search here...."
                  name="search"
                />
                <input type="button" value="Go" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<style>
  .foot footer {
    font-family: "Signika", sans-serif;
  }
  .foot .bg-grey {
    background: #292929;
  }
  .foot .logo-footer {
    margin-bottom: 40px;
  }
  .foot footer {
    color: grey;
  }
  .foot footer p,
  .foot a {
    font-size: 18px; /* sub heading, not the main heading */
    font-family: "Roboto", sans-serif;
  }
  .foot footer h6 {
    font-family: "Playfair Display", serif;
    font-size: 32px; /* for heading and all */
    margin-bottom: 40px;
    position: relative;
  }
  .foot footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
  }
  .foot .btn-footer {
    color: grey;

    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 14px; /* just the button */
    padding: 7px 30px;
    line-height: 47px;
  }
  .foot .btn-footer:hover {
    text-decoration: none;
  }
  .foot .form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
  }
  .foot ::placeholder {
    font-size: 16px; /* search here button default text */
    padding-left: 10px;
    font-style: italic;
  }
  .foot .form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
  }
  .foot .social .fa {
    color: grey;
    font-size: 32px; /* social media */
    padding: 10px 15px;
    background: #3c3c3c;
  }
  .foot footer ul li {
    list-style: none;
    display: block;
  }
  .foot footer ul {
    padding-left: 0;
  }
  .foot footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
  }
  .foot a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
  }
  .foot .logo-part {
    border-right: 1px solid grey;
    height: 100%;
  }
</style>
