body {
  margin-left: 40px;
  margin-right: 40px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}


.name-logo {
  display: flex; 
  justify-content: start;

}

.login-signup { 
  display: flex;
  justify-content: flex-end;

}

.login-signup .text {
  background-color: yellow;
  padding: 8px;
}


.logo { 
  height: 20px;
  width: 20px;
}

.carousel { 
  margin-top: 40px;
  width: 100%;
  height: 400px;
  background-color: blue;
  margin-bottom: 40px;
}

.footer-extra {
  border-top: 2px solid grey;
  height: 200px;
  width: 100%;
  padding-top: 10px;
}

.footer-main {
  border-top: 2px solid grey;
  height: 100px;
  width: 100%;

}


/* footer @kanishk */ 
footer {
    background-color: rgba(1, 32, 2, 0.767);
    padding-top: 0.25cm;
}

.creators h1 {
    text-align: center;
    color:  rgba(255, 115, 0, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.connect {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}
.links li a {
    color: white;
    margin: auto;
}
.links li{
    list-style-type:none;
    display: inline-block;
    margin:auto;
    align-content: center;
    justify-content: space-evenly;
}
strong {
    color: rgb(255, 115, 0);
}
/* footer @kanishk */ 

/* for carousel */ 

/* for carousel */ 
 
/* for t&c page */
div.tandc {
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Trebuchet MS';
  font-weight: 900;
  text-align:center;
}
.tandc p {
  font-family:'Trebuchet MS';
  text-align:left;
  font-weight: normal;
}
.tandclist li {
  font-family:'Trebuchet MS';
  text-align:left;
  font-weight: normal;
}

/* for t&c page */
/* for privacy policy page */
body.privacypolicy {
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Trebuchet MS';
  font-weight: 900;
  text-align:center;
}

.privacypolicy p {
  font-family:'Trebuchet MS';
  text-align:left;
  font-weight: normal;
}
.privacypolicylist li {
  font-family: 'Trebuchet MS';
  text-align:left;
  font-weight: normal;
}
/* for privacy policy page */