<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0932b7d8ec.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav
      class="mx-4 my-4 mb-8 navbar navbar-expand-lg navbar-dark bg-dark rounded-pill shadow-lg"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <span class="h1"> RTO </span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="pt-4 nav-link h4" href="/">Home</a>
            </li>
            <li class="nav-item"><a class="pt-4 nav-link h4">About us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="container"
      style="
        display: grid;
        grid-template-rows: 50% 50%;
        margin-top: 70px;
        margin-bottom: 200px;
      "
    >
      <img
        src="https://nagriksevakendra.in/default/login/avatar.png"
        alt="logo"
        class="img-fluid"
        style="max-width: 30%; justify-self: center; align-self: center"
      />
      <form
        action="/user/login"
        method="POST"
        class="jumbotron my-login-validation"
        style="margin: 0 20px 0 20px"
        novalidate=""
      >
        <div class="form-group">
          <label for="email" class="lead">Registered E-Mail Address</label>
          <input
            id="email"
            type="email"
            class="form-control"
            name="Login[email]"
            value=""
            required
            autofocus
          />
          <div class="invalid-feedback">Email is invalid</div>
        </div>

        <div class="form-group lead">
          <label for="password">Password </label>
          <a href="/user/forgot" class="float-right"> Forgot Password? </a>
          <input
            id="password"
            type="password"
            class="form-control"
            name="Login[password]"
            required
            data-eye
          />
          <div class="invalid-feedback">Password is required</div>
        </div>

        <div class="form-group">
          <div class="custom-checkbox custom-control">
            <input
              type="checkbox"
              name="remember"
              id="remember"
              class="custom-control-input"
            />
            <label for="remember" class="lead custom-control-label"
              >Remember Me</label
            >
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          <span class="lead">LOGIN</span>
        </button>

        <div class="mt-4 text-center lead">
          Don't have an account?
          <a href="/user/register">Create One</a>
        </div>
      </form>
    </div>
  </body>
  <%- include('../../../partials/footer') %>
</html>
