<div class="services">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RTO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
          </li>
        </ul>
      </div>
      <form action="/user/logout" method="POST">
        <button class="btn btn-danger btn-lg" type="submit">Logout</button>
      </form>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="mx-5 row justify-items-center align-items-center">
      <div class="col-4">
        <a href="/admin/dl">
          <img
            src="/dl.png"
            width="420"
            class="border img-thumbnail border-info"
          />
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/home"
          ><img
            src="https://techcrunch.com/wp-content/uploads/2017/06/facebook-group-admin-tools.png"
            width="420"
            class="border img-thumbnail border-info"
            max-height="207.75"
        /></a>
      </div>
      <div class="col-4">
        <a href="/admin/rc"
          ><img
            src="/RC.png"
            width="420"
            class="border img-thumbnail border-info"
        /></a>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</div>

<style>
  .container .flex-wrap a {
    margin: 30px;
  }
  .services {
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    font-size: 1.5rem;
  }
</style>
