<html>
  <head>
    <meta charset="utf-8">
    <title>navbar</title>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
        />
  </head>
  <body>

<nav class="mx-4 my-4 mb-8 navbar navbar-expand-lg navbar-dark bg-dark rounded-pill">
  <div class="container-fluid" >
    <a class="navbar-brand " href="#"> <span class="h1"> RTO </span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="pt-4 nav-link h4" href="/admin">Home</a>
        </li>
      </ul>
      </form>
    </div>
    <form action="/admin/logout" method="POST" > <button class="dropdown-item bg-danger btn btn-lg rounded-pill fs-3 text-light" type="submit">

              <img
        src="https://picsum.photos/200"
        class="ms-0 me-2 img-fluid rounded-circle"
        style="width:4ch;"
      />

        Logout </button> </form>
  </div>
</nav>

<div
    class="container admin"
    style="
           margin-top: 100px;
           margin-bottom: 100px;
           display: grid;
           grid-template-columns: 33% 33% 33%;
           column-gap: 40px;
           row-gap: 40px;
           "
    >
    <a href="/admin/dl">
      <img src="/dl.png" width="420" class="border img-thumbnail border-info" />
    </a>
  <a href="/admin/home"
     ><img
          src="https://techcrunch.com/wp-content/uploads/2017/06/facebook-group-admin-tools.png"
          width="420"
          class="border img-thumbnail border-info"
          max-height="207.75"
          /></a>
  <a href="/admin/rc"
     ><img src="/RC.png" width="420" class="border img-thumbnail border-info"
                                     /></a>
</div>
<%- include('../partials/footer') %>

<style>
.admin img {
  transition: transform 0.3s ease-in-out;
  box-shadow: 10px 10px 5px #60a5fa;
}
  .admin img:hover {
    transform: scale(1.06, 1.06);
  }
</style>
  </body>
</html>
