<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vehicle Registration</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% layout('layouts/boilerplateUser')%>

    <div class="container">
      <form
        name="myform"
        class="form-group"
        action="/user/<%= data.id %>/dashboard/RC"
        method="POST"
        novalidate
        class="validatedForm"
      >
        <div
          class="parent"
          style="
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
          "
        >
          <h2 class="badge badge-pill badge-dark" style="font-size: 3.5rem">
            Vehicle Registration
          </h2>
        </div>

        <div class="row jumbotron">
          <div class="col-md-6">
            <label for="inputname">Buyer's First name</label>
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              id="fname"
              name="rc[fname]"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="inputname">Buyer's Last name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              id="lname"
              name="rc[lname]"
              required
            />
          </div>
          <div class="col-md-12" style="margin-top: 30px">
            <label for="type of vehicle">Select the type of vehicle :</label>
            <label class="checkbox-inline"
              ><input
                type="checkbox"
                id="type"
                value="2 Wheeler"
                name="rc[type]"
              />2 Wheeler
            </label>
            <label class="checkbox-inline"
              ><input
                type="checkbox"
                id="type2"
                value="3 Wheeler"
                name="rc[type]"
              />3 Wheeler
            </label>
            <label class="checkbox-inline"
              ><input
                type="checkbox"
                id="type3"
                value="4 Wheeler"
                name="rc[type]"
              />4 Wheeler
            </label>
            <label class="checkbox-inline"
              ><input
                type="checkbox"
                id="type4"
                value="5 or more Wheeler"
                name="rc[type]"
              />5 or more
            </label>
          </div>
          <div class="col md-12" style="margin-top: 20px">
            <label for="eng">Select Engine type of the vehicle :</label>
            <select
              class="form-control"
              id="sel1"
              id="engine"
              name="rc[engine]"
              required
            >
              <option>BS-4</option>
              <option>BS-5</option>
              <option>BS-6</option>
            </select>
          </div>
          <div class="col md-12" style="margin-top: 20px">
            <label for="bname">Select Brand name of the vehicle :</label>
            <select
              class="form-control"
              id="sel1"
              id="bname"
              name="rc[bname]"
              required
            >
              <option>Tata Motors</option>
              <option>Maruti Suzuki</option>
              <option>Hyundai</option>
              <option>Kia motors</option>
              <option>Datsun</option>
              <option>Volkswagen</option>
              <option>Jeep</option>
              <option>BMW</option>
              <option>AUDI</option>
              <option>Fiat</option>
              <option>Ford motor corp.</option>
            </select>
          </div>
          <div class="col-md-12" style="margin-top: 20px">
            <label for="model">Enter Model Number and Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="model no.,name of the vehicle"
              id="mname"
              name="rc[mname]"
              required
            />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="sdetails">Seller details</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter sellername,branch code,etc"
              id="sdetail"
              name="rc[sdetail]"
              required
            />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="address">Seller Address</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter seller's address here"
              id="saddress"
              name="rc[saddress]"
              required
            />
          </div>
          <div class="col-md-6" style="margin-top: 30px">
            <label for="DOB">Select the Date of Purchase:</label>
            <input type="date" id="pdate" name="rc[pdate]" required />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="ph1">Buyer's License number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter License no."
              id="bl"
              name="rc[bl]"
              required
            />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="ph1">Buyer's Contact number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter contact no."
              id="phone"
              name="rc[bphone]"
              required
            />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="ph2">Buyer's Residential contact</label>
            <input
              type="text"
              class="form-control"
              placeholder="Landline / Alternate contact"
              id="bcontact"
              name="rc[bcontact]"
              required
            />
          </div>
          <div class="col-md-12" style="margin-top: 20px">
            <label for="address">Buyer's Permanent Address</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter address here"
              id="baddress"
              name="rc[baddress]"
              required
            />
          </div>
          <div class="col-md-5" style="margin-top: 20px">
            <label for="city">Buyer's City</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter city name"
              id="bcity"
              name="rc[bcity]"
              required
            />
          </div>
          <div class="col-md-5" style="margin-top: 20px">
            <label for="state">Buyer's State</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter state name"
              id="bstate"
              name="rc[bstate]"
              required
            />
          </div>
          <div class="col-md-2" style="margin-top: 20px">
            <label for="zipcode">Buyer's Zip code</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your zip code"
              id="bcode"
              name="rc[bcode]"
              required
            />
          </div>
          <div class="col-md-12" style="text-align: center; margin-top: 20px">
            <button
              type="submit"
              class="btn btn-primary btn-block"
              style="font-size: 25px"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<style>
  label {
    font-size: 18px;
    font-style: monospace;
  }
</style>
