<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0932b7d8ec.js"
      crossorigin="anonymous"
    ></script>
  </head>


<div id="name" class="navigation">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand" >RTO</span>
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <span class="nav-link" >About us</span>
          </li>
          
        </ul>
        </form>
      </div>

    </div>
  </nav>
</div>


  <body>
    

    <div
      class="mx-5 my-10 jumbotron"
      style="
        /* background-image: url(https://ak.picdn.net/shutterstock/videos/28237084/thumb/9.jpg); */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 20px;
      "
    >
      <div class="row align-items-center">
        <div class="col-9">
          <img
            src="https://st1.bgr.in/wp-content/uploads/2021/03/DL-Online.jpg"
            alt=""
            class="img-fluid img-thumbnail"
            style="/* opacity: 0.5 */"
            ;
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <a
                href="/admin"
                role="button"
                class="p-3 mb-2 btn btn-primary btn-lg btn-block rounded-pill"
                ><i class="fas fa-user-shield"></i> ADMIN</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a
                href="/user/Login_Register/login"
                role="button"
                class="p-3 mt-2 btn btn-secondary btn-outline-secondary btn-lg btn-block rounded-pill"
                ><i class="fas fa-users"></i> USER</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('../partials/footer') %>
</html>

<style>

.navigation .container-fluid a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600px;
  font-size: 1.5rem;
}
.navigation .container-fluid span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600px;
  font-size: 1.5rem;
}
</style>
