<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                           integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0932b7d8ec.js" crossorigin="anonymous"></script>
  </head>
  <%- include('../partials/navbar') %>

  <body>

    <div class="frontLoginPage">
      <div class="container">
        <div class="imagefront">
        <img
            src="https://st1.bgr.in/wp-content/uploads/2021/03/DL-Online.jpg"
            alt="">

        <a href="/home" role="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-user-shield"></i> ADMIN</a>
        <a href="/user/Login_Register" role="button" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-users"></i> USER</a>
      </div>
    </div>
    </div>
  </body>
  <%- include('../partials/footer') %>
</html>

<style>
.frontLoginPage {
  min-width: 100vh;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.frontLoginPage .container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  /*
     border-top: 2px solid gray;
     border-right: 2px solid gray;
     border-left: 2px solid gray;
   */
}

.frontLoginPage .fas {
  margin-right: 20px;
  margin-left : 20px;

}

.frontLoginPage img {
  height: auto;
  width: auto;
  margin-bottom: 90px;
}

.frontLoginPage .btn {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.5rem;
}

</style>
