<div class="services">
  <% layout('layouts/boilerplateUser')%>
  <div
    class=""
    style="
      margin-top: 100px;
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      column-gap: 40px;
      row-gap: 40px;
    "
  >
    <a href="/user/<%= data.id %>/dashboard/dl">
      <img src="/dl.png" width="420" class="border img-thumbnail border-info" />
    </a>
    <a href="/user/<%= data.id %>/dashboard/dl/edit">
      <img
        src="/dlrenewal.png"
        width="420"
        class="border img-thumbnail border-info"
    /></a>
    <a href="/user/<%= data.id %>/dashboard/RC"
      ><img src="/RC.png" width="420" class="border img-thumbnail border-info"
    /></a>
    <a href="/user/<%= data.id %>/dashboard/rc/show"
      ><img
        src="/renewrc.png"
        width="420"
        class="border img-thumbnail border-info"
    /></a>
    <a href="#"
      ><img
        src="/fintessca.png"
        width="420"
        class="border img-thumbnail border-info"
    /></a>
    <a href="#"
      ><img
        src="/others.png"
        width="420"
        class="border img-thumbnail border-info"
    /></a>
  </div>
  <!-- </div> -->
</div>

<style>
  .services {
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    font-size: 1.5rem;
  }
  .services img {
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 10px 5px #60a5fa;
  }
  .services img:hover {
    transform: scale(1.06, 1.06);
  }
</style>
