<div class="services">
  <% layout('layouts/boilerplateUser')%>
  <div class="container">
    <div
      class="flex-wrap p-4 m-4 d-flex justify-content-start align-items-center"
    >
      <a href="/user/<%= data.id %>/dashboard/dl">
        <img
          src="/dl.png"
          width="420"
          class="border img-thumbnail border-info"
        />
      </a>
      <a href="#"
        ><img
          src="/dlrenewal.png"
          width="420"
          class="border img-thumbnail border-info"
      /></a>
      <a href="/user/<%= data.id %>/dashboard/RC"
        ><img
          src="/RC.png"
          width="420"
          class="border img-thumbnail border-info"
      /></a>
      <a href="#"
        ><img
          src="/renewrc.png"
          width="420"
          class="border img-thumbnail border-info"
      /></a>
      <a href="#"
        ><img
          src="/fintessca.png"
          width="420"
          class="border img-thumbnail border-info"
      /></a>
      <a href="#"
        ><img
          src="/others.png"
          width="420"
          class="border img-thumbnail border-info"
      /></a>
    </div>
  </div>
  <%- include('../partials/footer') %>
</div>

<style>
  .container .flex-wrap a {
    margin: 30px;
  }
  .services {
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    font-size: 1.5rem;
  }
</style>
