<div class="services">
  <% layout('layouts/boilerplateUser')%>
  <div
    class="px-4 contain"
    style="
      margin-top: 100px;
      margin-bottom: 100px;
      /*
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 8rem;
      row-gap: 6rem;
      */
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;

      align-items: center;

      align-content: space-around;
      justify-content: space-around;
    "
  >
    <a href="/user/<%= data.id %>/dashboard/dl">
      <img src="/dl.png" width="620" class="border img-thumbnail border-info" />
    </a>
    <a href="/user/<%= data.id %>/dashboard/dl/edit">
      <img
        src="/dlrenewal.png"
        width="620"
        class="my-4 border img-thumbnail border-info"
      />
    </a>
    <a href="/user/<%= data.id %>/dashboard/RC"
      ><img
        src="/RC.png"
        width="620"
        class="my-4 border img-thumbnail border-info"
      />
    </a>
    <a href="/user/<%= data.id %>/dashboard/rc/show"
      ><img
        src="/renewrc.png"
        width="620"
        class="my-4 border img-thumbnail border-info"
      />
    </a>
    <a href="https://vahan.parivahan.gov.in/puc/"
      ><img
        src="/fintessca.png"
        width="620"
        class="my-4 border img-thumbnail border-info"
      />
    </a>
    <a href="https://sarathi.parivahan.gov.in/sarathiservice/stateSelection.do"
      ><img
        src="/others.png"
        width="620"
        class="my-4 border img-thumbnail border-info"
      />
    </a>
  </div>
  <!-- </div> -->
</div>

<style>
  .services {
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    font-size: 1.5rem;
  }
  .services img {
    transition: transform 0.2s ease-in-out;
    box-shadow: 1rem 1rem 1rem #60a5fa;
  }
  .services img:hover {
    transform: scale(1.06, 1.06);
  }
</style>
