<% layout('layouts/boilerplate')%>
<div id="" class="new">
  <h1 class="text-center display-3">New Data</h1>
  <div class="row jumbotron">
    <div class="col-6 offset-3">
      <form action="/admin/home" method="POST" novalidate class="validatedForm">
        <div class="mb-3">
          <label class="form-label" for="title">Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            name="User[Name]"
            required
          />
          <div class="valid-feedback">Looks Good!!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="Dob">DOB</label>
          <input
            class="form-control"
            type="text"
            id="DOB"
            name="User[Dob]"
            required
          />
          <div class="valid-feedback">Looks Good!!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="Category">Category</label>
          <input
            class="form-control"
            type="text"
            id="category"
            name="User[Category]"
            required
          />
          <div class="valid-feedback">Looks Good!!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="father">Father's Name</label>
          <input
            class="form-control"
            type="text"
            id="Father"
            name="User[father]"
            required
          />
          <div class="valid-feedback">Looks Good!!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="age">Age</label>
          <div class="input-group">
            <!-- <span class="input-group-text" id="price-label">$</span> -->
            <input
              type="text"
              class="form-control"
              id="Age"
              placeholder=""
              aria-label="Username"
              aria-describedby="price-label"
              name="User[age]"
              required
            />
            <div class="valid-feedback">Looks Good!!</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="address">Address</label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="User[Address]"
            required
          ></textarea>
          <div class="valid-feedback">Looks Good!!</div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
      </form>
      <button class="btn btn-block btn-success">
        <a href="/admin/home">All User Data</a>
      </button>
    </div>
  </div>
</div>

<style>
  .new label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
  }
  .new .btn {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
  }
</style>
