<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; RTO 2021</span>
    <span class="text-muted"
      >&copy; <a href="/policy"> @Privacy Policy</a>
    </span>
  </div>
</footer>
